<figure class="photo-figure photo-{{ block.size | default('medium') }}">
  <img src="{{ block.image }}" alt="{{ block.caption | default('') }}">
  {% if block.caption %}
    <figcaption style="text-align: {{ site.design.caption_align | default('center') }}">{{ block.caption | markdown | safe }}</figcaption>
  {% endif %}
</figure>
